@import '~antd/dist/antd.css';

.main-container {
  height: 100vh;
  overflow: auto;
}

.sider {
  background-color: white;
  min-width: 25vw !important;
  flex-basis: 25vw !important;
  overflow-y: auto;
}

.image-list, .tree-view, .simple-list {
  overflow-y: auto;
  max-height: 100%;
  user-select: none;
}

.item-label {
  overflow-y: auto;
  max-height: 100%;
}


.image-list .item {
  margin: 3px;
  display: inline-block;
  border: 3px solid transparent;
}

.image-list .item.selected {
  border: 3px solid blue;
}

.image-list .item-info {
  height: 50px;
  overflow: auto;
}

.selected-node {
  background-color: aqua;
}

.edit-text {
  color: black;
  background-color: white;
}


.no-select {
  user-select: none;
  -webkit-user-select: none;
}
.canvases {
  height: calc(100vh - 110px);
}

.canvases-footer {
  position: fixed;
  padding-top: 4px;
  height: 45px;
  bottom: 0
}

.display-flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

header.header {
  padding: 10px;
}

.sub-info {
  font-size: 9px;
}

.close-btn {
  padding: 0 5px;
  color: white;
  background: #aaa;
  border-radius: 2px;
  line-height: 36px;
  position: relative;
  top: -15px;
  left: 10px;
}