@import '~antd/dist/antd.css';

.main-container {
  height: 100vh;
  overflow: auto;
}

.sider {
  background-color: white;
  min-width: 25vw !important;
  flex-basis: 25vw !important;
  overflow-y: auto;
}

.image-list, .tree-view, .simple-list {
  overflow-y: auto;
  max-height: 100%;
  user-select: none;
}

.item-label {
  overflow-y: auto;
  max-height: 100%;
}


.image-list .item {
  margin: 3px;
  display: inline-block;
  border: 3px solid transparent;
}

.image-list .item.selected {
  border: 3px solid blue;
}

.selected-node {
  background-color: aqua;
}

.edit-text {
  color: black;
  background-color: white;
}